# üìí Exercise 4.8: Grouping Data & Aggregating Variables

---

In this notebook, we practice grouping and aggregating data, deriving new columns, and analyzing the results based on the Instacart dataset.

# Table of Contents

1Ô∏è‚É£ Import Libraries & Data  
2Ô∏è‚É£ Create 'median_days_since' Column  
3Ô∏è‚É£ Create 'order_frequency_flag' Column  
4Ô∏è‚É£ Check Distribution of 'order_frequency_flag'  
5Ô∏è‚É£ Export Data  
6Ô∏è‚É£ Reflection

## 1Ô∏è‚É£ Import Libraries & Data

In [3]:
import pandas as pd
import numpy as np
import os

# Set path
path = r'C:\Users\rhysm\OneDrive\Desktop\Career Foundry\Data Immersion\Module 4\04-2025 Instacart Basket Analysis'

# Import dataset
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_labeled.pkl'))

# Confirm import
ords_prods_merge.head()

,Unnamed: 0.1_x,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_status,price_label,busiest_day,busiest_days,busiest_period_of_day
0,1,1,2398795,1,2,3,7,15.0,196,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
1,1,1,2398795,1,2,3,7,15.0,10258,2,...,10258,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders
2,1,1,2398795,1,2,3,7,15.0,12427,3,...,12427,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders
3,1,1,2398795,1,2,3,7,15.0,13176,4,...,13176,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders
4,1,1,2398795,1,2,3,7,15.0,26088,5,...,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders

## 2Ô∏è‚É£ Create Subset and Check Data

In [5]:
df = ords_prods_merge[:1000000]

# Check shape and columns
print(df.shape)
df.head()

(1000000, 23)

,Unnamed: 0.1_x,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_status,price_label,busiest_day,busiest_days,busiest_period_of_day
0,1,1,2398795,1,2,3,7,15.0,196,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
1,1,1,2398795,1,2,3,7,15.0,10258,2,...,10258,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders
2,1,1,2398795,1,2,3,7,15.0,12427,3,...,12427,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders
3,1,1,2398795,1,2,3,7,15.0,13176,4,...,13176,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders
4,1,1,2398795,1,2,3,7,15.0,26088,5,...,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders

## 3Ô∏è‚É£ Grouping and Aggregating (Entire Dataset)

In [7]:
# Mean of 'order_number' grouped by 'department_id'
dept_order_mean = ords_prods_merge.groupby('department_id')['order_number'].mean()
print(dept_order_mean)

department_id
1     16.559161
2     18.413176
3     18.289622
4     18.915890
5     16.495614
6     17.609390
7     18.303969
8     16.383069
9     17.022963
10    21.227447
11    17.311920
12    16.953554
13    17.727257
14    17.882409
15    17.290123
16    18.755432
17    16.808683
18    20.336389
19    18.258620
20    17.578959
21    23.644477
Name: order_number, dtype: float64

## üí¨ Comment

The mean order numbers across the full dataset are slightly different compared to the subset. This shows that subset sampling can misrepresent the overall dataset trends.

## 4Ô∏è‚É£ Loyalty Flag

In [10]:
# Create max_order column
ords_prods_merge['max_order'] = ords_prods_merge.groupby('user_id')['order_number'].transform(np.max)

# Create loyalty_flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

# Check distribution
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

C:\Users\rhysm\AppData\Local\Temp\ipykernel_7944\525612110.py:2: FutureWarning: The provided callable <function max at 0x0000029B79FCCC20> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby('user_id')['order_number'].transform(np.max)

loyalty_flag
Regular customer    15095208
Loyal customer      10104845
New customer         5156075
Name: count, dtype: int64

## 5Ô∏è‚É£ Spending Habits by Loyalty

In [12]:
# Descriptive stats of prices by loyalty_flag
ords_prods_merge.groupby('loyalty_flag')['prices'].describe()

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal customer,10104845.0,10.404557,328.882048,1.0,4.2,7.4,11.2,99999.0
New customer,5156075.0,13.395978,604.505885,1.0,4.2,7.4,11.3,99999.0
Regular customer,15095208.0,12.547284,545.713457,1.0,4.2,7.4,11.3,99999.0

## 6Ô∏è‚É£ Spending Flag

In [14]:
# Create avg_price column
ords_prods_merge['avg_price'] = ords_prods_merge.groupby('user_id')['prices'].transform(np.mean)

# Create spending_flag
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

# Check distribution
ords_prods_merge['spending_flag'].value_counts(dropna=False)

C:\Users\rhysm\AppData\Local\Temp\ipykernel_7944\1050057215.py:2: FutureWarning: The provided callable <function mean at 0x0000029B79FCD620> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_price'] = ords_prods_merge.groupby('user_id')['prices'].transform(np.mean)

spending_flag
Low spender     29756774
High spender      599354
Name: count, dtype: int64

## 7Ô∏è‚É£ Order Frequency Flag

In [16]:
# Create median_days_since column
ords_prods_merge['median_days_since'] = ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform(np.median)

# Create order_frequency_flag
ords_prods_merge.loc[ords_prods_merge['median_days_since'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since'] > 10) & (ords_prods_merge['median_days_since'] <= 20), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

# Check distribution
ords_prods_merge['order_frequency_flag'].value_counts(dropna=False)

C:\Users\rhysm\AppData\Local\Temp\ipykernel_7944\2019279698.py:2: FutureWarning: The provided callable <function median at 0x0000029B7A0F42C0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_since'] = ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform(np.median)

order_frequency_flag
Frequent customer        20692182
Regular customer          6602419
Non-frequent customer     3061527
Name: count, dtype: int64

## 8Ô∏è‚É£ Export Data

In [27]:
# Export dataframe
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_grouped.pkl'))

## ‚úÖ Reflection

In this notebook, I performed grouping and aggregation using pandas to uncover trends in the dataset. I created new segmentation flags that can help Instacart‚Äôs marketing and operations teams understand customer behaviors more effectively.